// Facebook: Open Graph //
meta(property='og:title', content=title)
meta(property='og:type', content='website')
meta(property='og:description', content=description)
meta(property='og:site_name', content=title)
meta(property='og:url', content=homepage)
meta(property='og:locale', content='ja_JP')
// // Facebook
