// Twitter: Summary Card //
meta(name='twitter:card', content='summary')
meta(name='twitter:url', content=homepage)
meta(name='twitter:title', content=title)
meta(name='twitter:description', content=description)
meta(name='twitter:site', content='@twitter')
meta(name='twitter:creator', content='@twitter')
// // Twitter
